body {
  margin: 0;
  background-image: url("background.jpg");
      /* Optional settings for background */
      background-repeat: no-repeat;  /* Prevent repeating */
      background-size: cover;        /* Cover entire area */
      background-position: center;   /* Center the image */
      background-attachment: fixed;  /* Fix the image when scrolling */
      margin: 0;
      height: 100vh;
  font-family: Arial, sans-serif;
}
.form-row {
      display: flex;
      align-items: center; /* vertically center */
      justify-content: center; /* horizontally center */
      padding-top: 30px;
      color: white;
      margin-bottom: 10px;   /* spacing between rows */
      gap: 5px;              /* smaller gap between label and input */
    } 
    .email {
      display: flex;
      align-items: center; /* vertically center */
      justify-content: center; /* horizontally center */
      padding-top: 30px;
      color: white;
      margin-bottom: 10px;   /* spacing between rows */
      gap: 5px;              /* smaller gap between label and input */
    }  
.num {
      display: flex;
       /* vertically center */
justify-content: flex-end;
      padding-top: 30px;
      margin-right: 440px;
      color: white;
      margin-bottom: 10px;   /* spacing between rows */
      gap: 5px;              /* smaller gap between label and input */
    }      
.antal {
      display: flex;
       /* vertically center */
 justify-content: flex-end;
      padding-top: 30px;
      padding-right:440px;
      color: white;
      margin-bottom: 10px;   /* spacing between rows */
      gap: 5px;              /* smaller gap between label and input */
    }      
   .add {
      display: flex;
       /* vertically center */
      justify-content: flex-end;
      padding-top: 30px;
      padding-right: 440px;
      color: white;
      margin-bottom: 10px;   /* spacing between rows */
      gap: 5px;              /* smaller gap between label and input */
    }    
.mybutton {
      width: 260px;         
      height: 80px; 
      background-color: lightblue;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.2s;
    }
.button {
      width: 200px;         
      height: 50px; 
      background-color: green;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.2s;
   margin-bottom: 10px;
    }

/* Content below */
.content {
  padding: 20px;
}
